
/*  profileuser  */

.profileuser_field {

    width: 98%;
    margin: 0 auto;
    height: 100vh;
    max-height: 100vh;
    display: flex;
    flex-direction: column;

}

.profileuser_block {

    width: 100%;
    margin-top: 0.5%;
    height: 99%;

}

.profileuser_block_header {

    height: 30%;
    width: 80%;
    margin: 0 auto;
    border-radius: 12px;
    background-color: #222222;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.profileuser_block_header_cover {

    /* height: 50%; */
    aspect-ratio: 8 / 1;
    border-radius: 12px 12px 0px 0px;
    width: 100%;
    background-color: #BABABA;

}

.profileuser_block_header_info {

    height: 50%;
    width: 90%;
    margin: 0 auto;
    display: flex;
    /* justify-content: space-between; */

}

.profileuser_block_header_info_avatar {

    /* display: flex; */
    /* width: 20%; */
    margin-top: -5%;
    margin-bottom: 1%;
    /* margin-left: 5%; */
    /* margin-right: 1%; */
    aspect-ratio: 1;
    /* flex-direction: column; */
    /* justify-content: flex-end; */


}

.profile_block_header {

    width: 100%;
    height: 40%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;


}

.profileuser_block_header_info_right {

    width: 20%;
    display: flex;
    justify-content: space-around;

}

.profileuser_block_wrap_line {

    height: 2px;
    width: 80%;
    margin: 0 auto;
    background-color: #2D2D2D;
    border-radius: 12px;

}

.profileuser_block_header_info_avatar_frame {

    aspect-ratio: 1;
    border-radius: 50%;
    background-color: #222222;
    padding: 2%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.profileuser_avatar_my {

    border-radius: 50%;
    height: 100%;
    width: 100%;
    cursor: pointer;

}

.profileuser_avatar_my:hover {

    opacity: 0.9;

}


.profileuser_avatar {

    border-radius: 50%;
    height: 100%;
    width: 100%;


}


.profileuser_block_contents {

    width: 100%;
    height: 70%;
    padding-top: 0.5%;
    padding-bottom: 0.5%;


}



.profileuser_block_contents_first {

    height: 30%;
    width: 100%;
    padding-top: 0.5%;
    padding-bottom: 0.5%;


}

.profileuser_block_contents_second {

    height: 60%;
    /* padding-top: 0.5%;
    padding-bottom: 0.5%; */
    display: grid;
    align-content: stretch;
    align-items: stretch;
    /* flex-direction: column;

    justify-content: flex-start; */

}

.profileuser_block_contents_wrap {

    height: 5%;
    width: 100%;

    align-items: center;
    display: flex;
    justify-content: space-between;

}

.profileuser_block_contents_first_contents {

    height: 100%;
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    scroll-snap-type: x mandatory;
    display: flex;
    border-radius: 12px;
    column-gap: 0.5%;

}

.profileuser_block_contents_first_contents::-webkit-scrollbar {
    display: none;
}

.profileuser_block_contents_first_contents {
    scrollbar-width: none;
}


.profileuser_block_contents_wrap_btn {

    height: 100%;
    width: auto;
    background-color: #222222;
    border: 1px solid #484848;
    border-radius: 12px;
    padding: 0% 0.5%;
    display: flex;
    align-items: center;

}

.profileuser_content_first {

    position: relative;
    /* width: 100%; */
    height: 100%;
    /* aspect-ratio: 16/9; */
    border-radius: 12px;
    /* margin-left: 0.5%; */
    flex: 0 0 auto;
    scroll-snap-align: start;

}

.profileuser_content_first img {


    width: 100%;


}




.profileuser_block_contents_second_contents {

    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    scroll-snap-type: x mandatory;
    border-radius: 12px;
    padding-top: 0.5%;
    padding-bottom: 0.5%;

    column-gap: 0.5%;
    row-gap: 1%;
    align-items: center;
    display: grid;
    /* grid-template-columns: repeat(2, 1fr); */
    grid-template-rows: 1fr 1fr;
    grid-auto-flow: column;

}



.profileuser_block_contents_second_contents::-webkit-scrollbar {
    display: none;
}

.profileuser_block_contents_second_contents {
    scrollbar-width: none;
}


.profileuser_content_second_last {

    position: relative;
    height: 100%;
    border-radius: 12px;
    margin-left: 0.5%;
    flex: 0 0 auto;
    scroll-snap-align: start;

}

.profileuser_content_second_last img {


    object-fit: contain;

}


.profileuser_content_second_other {

    display: flex;

    columns: 2;

}

.profileuser_content_second {

    position: relative;
    height: 100%;
    aspect-ratio: 16 /9;
    background-color: #222222;
    border-radius: 12px;
    /* margin-left: 0.5%;
    margin-right: 0.5%; */
    align-items: stretch;
    flex: 0 0 auto;
    scroll-snap-align: start;
    grid-row: span 1;

}

.profileuser_content_second img {


    /* width: 100%; */
    object-fit: contain;
}

.block1 {

    grid-row: 1 / span 2;

}

.profileuser_block_contents_second_contents_flex {
    display: flex;
    flex-wrap: nowrap;
}
