@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    color: #D9D9D9;
}

img,
video {
    width: 100%;
    height: 100%;

}





.header_up_video {

    display: flex;
    justify-content: space-between;

    width: 100%;
    height: 40px;

    background-color: #950740;

}

.header_up_news {

    margin-right: -100%;

    width: 124px;
    height: 100%;

    display: flex;
    justify-content: space-between;


    background-color: #159983;
    position: absolute;

}

.header_up_store {

    display: flex;
    justify-content: space-between;

    width: 100%;
    height: 40px;

    background-color: #FB7A00;

}

.header-down {


    width: 3%;


    background-color: #1A1A1D;
    box-shadow: 0px 35px 55px 0px rgba(0, 0, 0, 0.25);

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* position: absolute; */

}

.header-down1 {


    width: 3%;


    background-color: #1A1A1D;
    box-shadow: 0px 35px 55px 0px rgba(0, 0, 0, 0.25);

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* position: absolute; */

}




.logo {

    width: 190px;
    height: 45px;


}


.test {
    width: auto;
    height: auto;
}


.head-flex {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

}

.px {
    width: 1px;
    height: 1px;

}

.poisk {

    width: 694px;
    height: 42px;
    border-radius: 10px;
    border: 1px solid;
    border-color: #D9D9D9;



}

.datetime {

    display: flex;

}


.money {

    display: flex;

}

.triygol {

    display: flex;
    justify-content: space-between;

    margin-top: 124px;


}

.triygol img {

    width: auto;
    height: 100%;

    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;

}



.main_allvideo_user {

    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;

    width: 1440px;
    height: auto;
    background-color: rgba(26, 26, 29, 1);
    border-radius: 3px;
    box-shadow: 3px 4px 4px #00000040;
    padding-top: 50px;

    padding-left: 128px;
    padding-right: 128px;
    padding-bottom: 50px;
}

html {

    background-color: #2C2C30;

}



.backgroundall {

    display: flex;
    justify-content: space-between;

    min-height: 100vh;
    background-color: #2C2C30;

}

.backgroundall-reg-auth {

    min-height: 50vh;
    background-color: #2C2C30;

}


.zona-reg-auth {

    margin-top: 50px;
    width: 1280px;
    height: 720px;
    background-color: #6F2232;



}

.form-reg-lev {

    height: 720px;
    width: 640px;
    background-color: #950740;

    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

}

.form_reg_lev_text {

    margin: 0 auto;
    width: 100%;


}

.form-reg-prav {

    height: 720px;
    width: 640px;
    background-color: #1A1A1D;



}

.form-reg {

    height: 720px;
    width: 1280px;
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;

}

.form_reg_line {

    width: 445px;
    height: 1px;
    background-color: #D9D9D9;

}








.form__field {
    font-family: inherit;
    width: 70%;
    border: 0;
    border-bottom: 2px solid gray;
    outline: 0;
    font-size: 1.3rem;
    color: white;
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;
    margin: 0 auto;
}


.form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: gray;
}

.form__field:focus {

    padding-bottom: 6px;
    font-weight: 700;
    border-width: 3px;
    border-image: linear-gradient(to right, white, gray);
    border-image-slice: 1;
}

.input_label {

    color: #D9D9D9;
    margin-left: 100px;
}

.btn_form {

    margin-top: 50px;

    display: flex;
    justify-content: space-around;
    align-items: center;

}

.form_form {

    margin-top: 25%;

}


.main_new_novo_video {

    height: 40px;
    width: 1025px;


    background-color: #950740;
    border: 1px solid;
    border-color: rgba(19, 19, 19, 1);
    border-radius: 3px;
    box-shadow: 3px 4px 4px #00000040;

    margin: 0 auto;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    margin-top: 50px;

}


.main_novosti {

    width: 740px;
    height: auto;
    display: block;

}

.main_novosti_allvideo {

    width: 1184px;
    height: auto;


}

.row_allvideo {

    display: flex;
    justify-content: space-between;

}

.main_osnova {

    margin-top: 50px;
    display: flex;
    justify-content: space-between;


}

.main_myosnova {

    margin-top: 50px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
    display: block;



}

.main_novost_allvideo {

    height: 220px;
    width: 280px;


    background-color: rgba(19, 19, 19, 1);
    border: 1px solid;
    border-color: #950740;
    border-radius: 3px;
    box-shadow: 3px 4px 4px #00000040;




    display: flex;
    flex-direction: column;
    justify-content: space-between;

    margin-bottom: 50px;

    color: #D9D9D9;

}

.main_novost_video {

    height: auto;
    width: 740px;
    min-height: 220px;


    background-color: rgba(19, 19, 19, 1);
    border: 1px solid;
    border-color: #950740;
    border-radius: 3px;
    box-shadow: 3px 4px 4px #00000040;




    display: flex;
    flex-direction: column;
    justify-content: space-between;

    margin-bottom: 50px;

    color: #D9D9D9;

}

.main_filter_video {

    height: 220px;
    width: 250px;

    background-color: rgba(19, 19, 19, 1);
    border: 1px solid;
    border-color: #950740;
    border-radius: 3px;
    box-shadow: 3px 4px 4px #00000040;

    display: flex;
    align-items: center;
    justify-content: center;



}

.main_filter1 {

    padding: 10px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;




}

/* .main_filter_drop {

    height: 30px;
    width: 190px;

    background-color: rgba(19, 19, 19, 1);
    border: 1px solid;
    border-color: #950740;
    border-radius: 3px;

    margin: 0 auto;
    align-items: center;

} */

.main_novost_top {

    display: flex;

}

.main_novost_down {
    margin-top: 20px;
    display: flex;

}

.main_novost_img {

    width: 50px;
    height: 50px;
    border-radius: 25px;
    margin-right: 20px;
    display: flex;
    justify-content: center;
    text-align: center;
    overflow: hidden;

}

.novost_down_func_video {

    height: 30px;
    width: 90px;

    margin-right: 30px;

    background-color: rgba(19, 19, 19, 1);
    border: 1px solid;
    border-color: #6F2232;
    border-radius: 20px;
    box-shadow: 3px 4px 4px #00000040;
    padding: 5px;


    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;


    transition: border-color 0.3s, background-color 0.3s;
}



.novost_down_func_video:hover {
    border-color: #950740;
    background-color: #950740;

    box-shadow: 0 0 10px 5px #950740;
}

.novost_down_func_video:active {
    background-color: #D9D9D9;
}

.margin_20_20 {

    margin: 20px 0;

}


.main_novost_middle {

    margin-top: 20px;
    max-width: 700px;
    height: auto;

}

.profile_main {

    width: 1760px;
    height: 950px;
    background-color: #6F2232;
    margin: 0 auto;
    margin-top: 132px;

}

.profile_avatar {

    width: 264px;
    height: 264px;
    border-radius: 132px;
    margin-top: -62px;
    margin-left: 748px;
    position: absolute;
    background-color: aliceblue;
    display: flex;
    justify-content: center;
    text-align: center;
    overflow: hidden;



}

.profile_avatar img {

    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    user-select: none;


}

.profile_info {

    display: flex;
    justify-content: space-between;
}

.profile_novosti_verh {

    width: 250px;
    margin-top: 234px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
    display: block;
    text-align: center;
}

.profile_settings {

    width: 250px;
    height: 45px;
    background-color: #950740;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
}

.profile_novosti_osnova {

    margin-top: 50px;
    width: 1660px;
    height: 346px;



    display: flex;
    justify-content: space-around;
    margin-left: auto;
    margin-right: auto;

}

.profile_novost_back {

    width: 530px;
    height: 350px;
    background-color: #2C2C30;
    border-radius: 10px;
    border: 2px solid;
    display: flex;
    flex-direction: column;
    justify-content: space-between;


}

.profile_novost_middle {


    width: 528px;
    height: 250px;
    background-color: #1A1A1D;
    border-radius: 10px;
    border: 2px solid;
    margin: 0 auto;
    text-align: center;
    padding: 50px;

}

.profile_novost_back_dovn {

    display: flex;
    justify-content: space-between;

}

.profile_novost_back_dovn_dop {

    display: flex;
    margin-left: 20px;
    margin-right: 20px;

}

.profile_novosti_next {

    text-align: center;
    width: 250px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;

}

.main_statementuser {

    min-height: 400px;
    width: 100%;


    background-color: rgba(19, 19, 19, 1);
    border-top: 1px solid;
    border-bottom: 1px solid;
    border-color: #950740;
    border-radius: 3px;


    padding: 50px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    margin: 50px auto;

    color: #D9D9D9;

}

.main_spec_statementuser {


    margin-top: -109px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;

    width: 1280px;
    height: auto;
    background-color: rgba(26, 26, 29, 1);
    border-radius: 3px;
    box-shadow: 3px 4px 4px #00000040;
    padding-top: 50px;

    padding-bottom: 50px;
}

.main_statementuser_func {

    display: flex;
    justify-content: space-between;

}

.novost_down_func_obsh {

    display: flex;
    justify-content: space-evenly;

}

.main_statementuser_line {

    height: 1px;
    background-color: #950740;
    margin: 50px 0px;

}

.main_statementuser_osnova {

    display: flex;
    flex-direction: column;
    justify-content: space-between;

}






.main_comment_show {

    margin-top: 20px;

}

.button_notification {
    margin: 0px 50px;
    height: 40px;
    width: 40px;

    background-color: #1A1A1D;

}

.nav_right {

    display: flex;
    align-items: center;

}

.field_notification_video {
    position: absolute;
    top: 40px;
    right: 316px;

    width: 500px;
    height: 0px;
    background-color: #1A1A1D;

    border: 1px solid;
    border-color: #950740;

    border-top-width: 0px;
    border-top-style: solid;

    transition: height 0.5s ease;
}

.field_notification_video.show {
    top: 164px;
    height: 600px;
}

.notification_line_video {

    height: 1px;
    width: 80%;
    background-color: #950740;
    margin: 20px auto;

}


.notification_friends_video {
    height: 0px;
    width: 0px;
    min-height: 0px;


    border-radius: 3px;
    box-shadow: 3px 4px 4px #00000040;
    padding: 0px;
    margin-right: auto;
    margin-left: auto;

    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-top: 20px;
    margin-bottom: 20px;
    color: #D9D9D9;


}

.notification_friends_video.show {
    height: 70px;
    width: 420px;
    min-height: 60px;
    background-color: rgba(19, 19, 19, 1);
    border: 1px solid;
    border-color: #950740;
    border-radius: 3px;
    box-shadow: 3px 4px 4px #00000040;
    padding: 10px;

}


.notification_img {

    width: 35px;
    height: 35px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 10px;

}

.notification_func_right {

    display: flex;


}

.notification_func_left {

    display: flex;


}


.dialog_newtextarea {
    height: 66px;
    width: 720px;
    background-color: rgba(19, 19, 19, 1);
    border: 1px solid;
    border-color: #950740;
    border-radius: 3px;
    box-shadow: 3px 4px 4px #00000040;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 auto;
    color: #D9D9D9;
    resize: none;
}


.main_spec_dialog {

    margin-top: -109px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
    width: 1280px;
    min-height: 900px;
    background-color: rgba(26, 26, 29, 1);
    border-radius: 3px;
    box-shadow: 3px 4px 4px #00000040;


    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

}

.dialog_field {

    height: 650px;
    width: 1280px;




    padding: 20px;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    color: #D9D9D9;

}

::-webkit-scrollbar {
    width: 0;
}

.field {
    height: 730px;

    width: 1240px;
    overflow-y: scroll;

}

.field::-webkit-scrollbar {
    width: 0;
}

.main_osnova_statement {


    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.dialog_field_left_rama {

    width: 700px;
    min-height: 70px;
    background-color: rgba(19, 19, 19, 1);
    border: 1px solid;
    border-color: #950740;
    border-radius: 3px;
    box-shadow: 3px 4px 4px #00000040;
    padding: 10px;

    margin-left: 20px;

    display: flex;
    justify-content: flex-start;

    margin-top: 20px;
    margin-bottom: 20px;
    color: #D9D9D9;
}

.dialog_field_right_rama {

    width: 700px;
    min-height: 70px;
    background-color: rgba(19, 19, 19, 1);
    border: 1px solid;
    border-color: #950740;
    border-radius: 3px;
    box-shadow: 3px 4px 4px #00000040;
    padding: 10px;

    margin-right: 20px;

    display: flex;
    justify-content: flex-end;

    margin-top: 20px;
    margin-bottom: 20px;
    color: #D9D9D9;
}



.notification_img_right {

    margin-left: 10px;
    width: 35px;
    height: 35px;

}

.dialog_img_ava {


    width: 35px;
    height: 35px;
    overflow: hidden;
    border-radius: 50%;


}

.dialog_field_right {

    display: flex;
    justify-content: flex-end;

}

.dialog_field_left {

    display: flex;
    justify-content: flex-start;

}

.dialog_field_left_content {

    word-break: break-all;
    max-width: 630px;
    padding-left: 20px;
    height: auto;
    text-align: start;

}

.dialog_field_right_content {

    word-break: break-all;
    padding-right: 20px;
    max-width: 630px;
    height: auto;
    text-align: end;

}


.dialog_send {

    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;

}


.btn_dialog {

    width: auto;
    height: 70px;
    background-color: rgba(19, 19, 19, 1);
    border: 1px solid;
    border-color: #950740;
    border-radius: 3px;
    box-shadow: 3px 4px 4px #00000040;
    padding: 10px;

    margin-left: 10px;

    display: flex;
    align-items: center;
    justify-content: center;

    color: #D9D9D9;

}

.notificationitem_video {
    height: 0px;
    overflow: hidden;

}

.notificationitem_video.show {


    width: 360px;

    min-height: 70px;
    height: auto;
    background-color: rgba(19, 19, 19, 1);
    border: 1px solid;
    border-color: #950740;
    border-radius: 3px;
    box-shadow: 3px 4px 4px #00000040;
    padding: 10px;
    margin: 0 auto;

    margin-top: 20px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    color: #D9D9D9;



}

.notification-actions {

    display: flex;
    justify-content: space-around;

}

.accept-btn {

    height: 30px;
    width: 90px;
    margin-right: 30px;
    background-color: rgba(19, 19, 19, 1);
    border: 1px solid;
    border-color: #950740;
    border-radius: 20px;
    box-shadow: 3px 4px 4px #00000040;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;



    margin: 0 10px;

}

.reject-btn {

    height: 30px;
    width: 90px;
    margin-right: 30px;
    background-color: rgba(19, 19, 19, 1);
    border: 1px solid;
    border-color: #950740;
    border-radius: 20px;
    box-shadow: 3px 4px 4px #00000040;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;



    margin: 0 10px;

}


.btn_notification_right_video {

    width: 40px;
    height: 40px;
    background-color: rgba(19, 19, 19, 1);
    border: 1px solid;
    border-color: #950740;
    border-radius: 3px;
    box-shadow: 3px 4px 4px #00000040;
    padding: 10px;


    display: flex;
    align-items: center;
    justify-content: center;

    color: #D9D9D9;

}

.friendsList_repost {

    min-width: 120px;
    height: 120px;
    background-color: rgba(19, 19, 19, 1);
    border: 1px solid;
    border-color: #950740;
    border-radius: 3px;
    box-shadow: 3px 4px 4px #00000040;
    padding: 10px;

    position: absolute;

    display: flex;
    flex-direction: column;

    justify-content: center;

    color: #D9D9D9;

}


.main_osnova_allusers {

    margin-top: 50px;
    display: flex;
    justify-content: space-between;


}

.useriii {

    display: block;

}

.main_osnova_allusers_field {

    display: block;

}



.txt_1 {

    font-family: Comic Sans MS, Comic Sans, cursive;
    font-size: 26px;
}


.txt_2 {

    font-family: Comic Sans MS, Comic Sans, cursive;
    font-size: 20px;
}


.btn_1 {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;

    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background: linear-gradient(to right, #950740, #ff3366);
    background-size: 200% 100%;
    transition: 0.5s;
}


.btn_1:hover {
    color: #D9D9D9;
    background-position: right center;

}








.custom-search-input {

    background-color: #1A1A1D;
    background-repeat: no-repeat;
    background-position: right 10px top 50%;
    background-size: 12px auto;
    padding: 8px 15px;
    border: 1px solid #950740;
    border-radius: 5px;
    font-size: 16px;
    color: #D9D9D9;
    outline: none;
    width: 240px;
}


.custom-search-input:hover {
    border-color: #D9D9D9;
}


.custom-search-input:focus {
    border-color: #D9D9D9;
}


#searchResults {

    margin-top: 5px;
    color: #D9D9D9;
}

.edit_update {

    height: 100%;
    width: 100%;
    min-height: 220px;
    background-color: rgba(19, 19, 19, 1);
    border: 1px solid;
    border-color: #950740;
    border-radius: 10px;
    box-shadow: 3px 4px 4px #00000040;
    padding: 20px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 50px;
    color: #D9D9D9;

}



.category {
    margin-bottom: 10px;
}

.sortirovka {

    margin-bottom: 10px;

}


.main_videotextarea {

    height: 360px;
    width: 720px;


    background-color: rgba(19, 19, 19, 1);
    border: 1px solid;
    border-color: #BB1756;
    border-radius: 3px;
    box-shadow: 3px 4px 4px #00000040;

    padding: 20px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    margin: 0 auto;

    color: #D9D9D9;

    resize: none;

}












.main_video_info {

    display: flex;
    justify-content: space-between;

}

.main_video_info_2 {

    display: flex;
    justify-content: space-between;


}















/* News */



.custom-search-input-news {

    background-color: #1A1A1D;
    background-repeat: no-repeat;
    background-position: right 10px top 50%;
    background-size: 12px auto;
    padding: 8px 15px;
    border: 1px solid #53B8A9;
    border-radius: 5px;
    font-size: 16px;
    color: #D9D9D9;
    outline: none;
    width: 240px;
}

.main_new_novo {

    height: 40px;
    width: 1025px;


    background-color: #159983;
    border: 1px solid;
    border-color: rgba(19, 19, 19, 1);
    border-radius: 3px;
    box-shadow: 3px 4px 4px #00000040;

    margin: 0 auto;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    margin-top: 50px;

}

.custom-search-input-news:hover {
    border-color: #D9D9D9;
}


.custom-search-input-news:focus {
    border-color: #D9D9D9;
}


.main_filter_news {

    height: 220px;
    width: 250px;

    background-color: rgba(19, 19, 19, 1);
    border: 1px solid;
    border-color: #159983;
    border-radius: 3px;
    box-shadow: 3px 4px 4px #00000040;

    display: flex;
    align-items: center;
    justify-content: center;



}


.custom-select-news {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    /* Добавим небольшую иконку для кастомной стрелки */
    background-color: #1A1A1D;
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="12" height="8" viewBox="0 0 12 8"><path fill="%23000" d="M6 8L0 0h12z"/></svg>');
    background-repeat: no-repeat;
    background-position: right 10px top 50%;
    background-size: 12px auto;
    /* Остальные стили для внешнего вида */
    padding: 8px 15px;
    border: 1px solid #159983;
    border-radius: 5px;
    font-size: 16px;
    color: #D9D9D9;
    outline: none;
    width: 90%;

}







/* Стили при наведении */
.custom-select-news:hover {
    border-color: #aaa;
}

/* Стили при фокусе */
.custom-select-news:focus {
    border-color: #555;
}

/* Стили для опций */
.custom-select-news option {
    background-color: #fff;
    color: #333;
}

.custom-select-video {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;

    background-color: #1A1A1D;
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="12" height="8" viewBox="0 0 12 8"><path fill="%23000" d="M6 8L0 0h12z"/></svg>');
    background-repeat: no-repeat;
    background-position: right 10px top 50%;
    background-size: 12px auto;

    padding: 8px 15px;
    border: 1px solid #950740;
    border-radius: 5px;
    font-size: 16px;
    color: #D9D9D9;
    outline: none;
    width: 90%;

}




.custom-select-video:hover {
    border-color: #aaa;
}


.custom-select-video:focus {
    border-color: #555;
}


.custom-select-video option {
    background-color: #fff;
    color: #333;
}

.main_news {

    height: 680px;
    width: 1024px;


    background-color: rgba(19, 19, 19, 1);
    border: 1px solid;
    border-color: #53B8A9;
    border-radius: 3px;
    box-shadow: 3px 4px 4px #00000040;

    padding: 50px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    margin: 0 auto;

    color: #D9D9D9;

}


.main_newtextarea {

    height: 360px;
    width: 720px;


    background-color: rgba(19, 19, 19, 1);
    border: 1px solid;
    border-color: #53B8A9;
    border-radius: 3px;
    box-shadow: 3px 4px 4px #00000040;

    padding: 20px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    margin: 0 auto;

    color: #D9D9D9;

    resize: none;

}

.field_notification_news {
    position: absolute;
    top: 40px;
    right: 316px;

    width: 500px;
    height: 0px;
    background-color: #1A1A1D;

    border: 1px solid;
    border-color: #53B8A9;

    border-top-width: 0px;
    border-top-style: solid;


}



.notification_line_news {

    height: 1px;
    width: 80%;
    background-color: #53B8A9;
    margin: 20px auto;

}





.notification_friends_news {
    height: 0px;
    width: 0px;
    min-height: 0px;


    border-radius: 3px;
    box-shadow: 3px 4px 4px #00000040;
    padding: 0px;
    margin-right: auto;
    margin-left: auto;

    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-top: 20px;
    margin-bottom: 20px;
    color: #D9D9D9;


}

.notification_friends_news.show {
    height: 70px;
    width: 420px;
    min-height: 60px;
    background-color: rgba(19, 19, 19, 1);
    border: 1px solid;
    border-color: #53B8A9;
    border-radius: 3px;
    box-shadow: 3px 4px 4px #00000040;
    padding: 10px;

}

.btn_notification_right_news {

    width: 40px;
    height: 40px;
    background-color: rgba(19, 19, 19, 1);
    border: 1px solid;
    border-color: #53B8A9;
    border-radius: 3px;
    box-shadow: 3px 4px 4px #00000040;
    padding: 10px;


    display: flex;
    align-items: center;
    justify-content: center;

    color: #D9D9D9;

}

.novost_down_func_news {

    height: 30px;
    width: 90px;

    margin-right: 30px;

    background-color: rgba(19, 19, 19, 1);
    border: 1px solid;
    border-color: #53B8A9;
    border-radius: 20px;
    box-shadow: 3px 4px 4px #00000040;
    padding: 5px;


    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;


    transition: border-color 0.3s, background-color 0.3s;
}

.novost_down_func_news:hover {
    border-color: #53B8A9;
    background-color: #53B8A9;

    box-shadow: 0 0 10px 5px #53B8A9;
}

.novost_down_func_news:active {
    background-color: #D9D9D9;
}


.main_novost_middle_all {


    max-width: 700px;
    height: auto;

}


/* neutral */


.header_up_neutral {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 40px;
    ;
}

.main_new_novo_neutral {

    height: 40px;
    width: 1025px;


    background: linear-gradient(-10deg, #53B8A9, #C3073F, #FF9900);
    transition: background-position 0.5s ease;
    border: 1px solid;
    border-color: rgba(19, 19, 19, 1);
    border-radius: 3px;
    box-shadow: 3px 4px 4px #00000040;

    margin: 0 auto;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    margin-top: 50px;

}

.main_novost_news {

    height: auto;
    width: 740px;
    min-height: 220px;

    background-color: rgba(19, 19, 19, 1);
    border: 1px solid;
    border-color: #53B8A9;
    border-radius: 3px;
    box-shadow: 3px 4px 4px #00000040;

    padding: 20px;

    margin-right: auto;
    margin-left: auto;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    margin-bottom: 50px;

    color: #D9D9D9;

}

.main_novost_neutral {

    height: auto;
    width: 740px;
    min-height: 220px;

    background-color: rgba(19, 19, 19, 1);
    border: 1px solid;
    border-color: #53B8A9;
    border-radius: 3px;
    box-shadow: 3px 4px 4px #00000040;

    padding: 20px;

    margin-right: auto;
    margin-left: auto;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    margin-bottom: 50px;

    color: #D9D9D9;

}




/* messages */

.messages_main {

    width: 1760px;
    height: 950px;
    background-color: rgba(26, 26, 29, 1);
    border-radius: 3px;
    box-shadow: 3px 4px 4px #00000040;
    margin-top: -116px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
    padding-top: 50px;
    padding-bottom: 50px;

    display: flex;

}

.message_left {

    background-color: #53B8A9;
    width: 30%;
    height: 100%;
    margin-left: 20px;
    margin-right: 10px;

}

.message_right {

    background-color: #FB7A00;
    width: 70%;
    height: 100%;
    margin-left: 10px;
    margin-right: 20px;
}

.messages_chat {

    width: 90%;
    height: 200px;
    background-color: aqua;
    margin: 0 auto;


}








/* NEW */

/* 

BACKGROUND
main            background-color: #1A1A1A;

BLOCK
light           background-color: #333333;
medium          background-color: #222222;
dark            background-color: #1A1A1A;

DIVIDER
light           background-color: #BABABA;
medium          background-color: #484848;
dark            background-color: #2D2D2D;

TEXT
white           background-color: #F5F5F5;
medium          background-color: #484848;
placeholder     background-color: #777777;
 
*/

.header {

    background-color: #222222;
    border-right: 1px solid #2D2D2D;
    border-left: 1px solid #2D2D2D;

    /* box-shadow: 0px 35px 55px 0px rgba(0, 0, 0, 0.25); */

    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}


.header_down {

    width: 50px;
    height: 50px;

}

.header-top {

    width: 50px;
    height: 50px;

}




main {

    width: 100%;
    background-color: #1A1A1A;

}

.main {


    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;

    width: 1280px;
    height: auto;
    background-color: rgba(26, 26, 29, 1);
    border-radius: 3px;
    box-shadow: 3px 4px 4px #00000040;
    padding-top: 50px;

    padding-left: 128px;
    padding-right: 128px;
    padding-bottom: 50px;
}

.avatar_mini {

    border-radius: 50%;
    width: 50px;
    height: 50px;

}

.main_video_content {
    position: relative;
    margin: 0.5% auto;
    width: 99%;
    height: auto;
    border-radius: 12px;

}

.videoThumbnail {

    border-radius: 12px;

}

video {

    border-radius: 12px;

}

.main_video_desc {

    margin: 0 auto;
    background-color: #222222;
    padding: 20px;
    border-radius: 12px;
    width: 65%;

}

.author {

    display: flex;


}

.main_video_func {

    display: flex;
    justify-content: space-between;
    margin: 1% 0;

}

.main_shortvideo_func {

    display: flex;

    margin: 1% 0;

}

.statementuser_comment {

    height: auto;
    width: 740px;
    min-height: 60px;

    padding: 20px;

    margin-right: auto;
    margin-left: auto;

    display: flex;
    align-items: flex-start;
    justify-content: space-between;


    color: #D9D9D9;

}

.statementuser_comment_show {

    height: auto;
    width: 740px;
    min-height: 60px;

    padding: 20px;
    border-radius: 12px;
    margin-right: auto;
    margin-left: auto;
    background-color: #222222;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;

    margin-top: 50px;
    margin-bottom: 50px;

    color: #D9D9D9;

}

.main_video_info {

    margin: 0.5% auto;
    width: 99%;
    height: auto;
    border-radius: 12px;
    display: block;

}

.main_shortvideo_desc_left {
    bottom: 48px;

    position: absolute;
    padding: 20px;
    margin: 0 auto;
    border-radius: 12px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    z-index: 2;
}

.main_shortvideo_desc_right {

    right: 0px;
    bottom: 48px;
    position: absolute;
    padding: 20px;
    margin: 0 auto;
    border-radius: 12px;
    display: block;
    justify-content: space-between;
    align-items: flex-end;
    z-index: 2;

}

.form_field_comment {

    font-family: inherit;
    height: 42px;
    width: 70%;
    border: 0;
    border-bottom: 2px solid gray;
    outline: 0;
    font-size: 1.3rem;
    color: white;
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;
    margin: 0 auto;
    display: flex;
    align-items: center;

}


.form_field_comment_shortvideo {

    font-family: inherit;
    height: 42px;
    width: 70%;
    border: 0;
    border-bottom: 2px solid gray;
    outline: 0;
    font-size: 1.3rem;
    color: white;
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;
    display: flex;
    align-items: center;

}

.statementuser_comment_show_shortvideo {

    height: auto;
    width: 100%;
    min-height: 60px;

    padding: 20px;
    border-radius: 12px;
    background-color: #222222;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;

    margin-top: 50px;
    margin-bottom: 50px;

    color: #D9D9D9;

}

.main_shortvideo_content {
    position: relative;
    margin: 0.5% auto;
    width: 99%;
    height: auto;
    border-radius: 12px;

}

.new_comment {

    width: 70%;

}

.shortvideo_form_comment {

    height: auto;

    min-height: 60px;



    margin-right: auto;
    margin-left: auto;

    display: flex;
    align-items: flex-start;
    justify-content: space-between;


    color: #D9D9D9;

}

.test_shortvideo_rama{

    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;

}

/* 

Messages 

*/



.messenger_dialogs {
    height: 100%;
    width: 25%;
    border-right: 1px solid #222222;

}

.messenger {

    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-between;


}

.message_dialog_searh {

    height: 10%;
    border-bottom: 1px solid #222222;

}

.message_dialogs {

    height: auto;
    width: 100%;
    padding: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.message_dialog {

    width: 90%;
    height: auto;
    border: 1px solid #2D2D2D;
    border-radius: 12px;
    padding: 2%;

}


.message_dialog.active{

    background-color: #222222;
    width: 90%;
    height: auto;
    border: 1px solid #2D2D2D;
    border-radius: 12px;
    padding: 2%;

}

.message_dialog_searh {

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;

}

.message_history {

    width: 100%;
    height: 100%;


}

.message_history_author_background {

    width: 100%;
    height: 15%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    border-bottom: 1px solid #222222;
    padding: 1%;

}

.message_history_input {

    width: 100%;
    height: 10%;
    border-top: 1px solid #222222;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.message_history {

    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.message_history_author_info_profile {

    display: flex;

}

.message_history_author_info_img {

    width: 80px;
    height: 80px;
    border: 1px solid #222222;
    border-radius: 12px;

}

.message_history_author_info {

    width: 70%;
    display: flex;
    align-items: center;

}

.message_history_author_buttons {

    height: 80px;
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: flex-end;

}

.message_history_author_info_name {

    margin-left: 20px;

}

.message_history_input_container {

    background-color: #1A1A1A;
    background-repeat: no-repeat;
    background-position: right 10px top 50%;
    background-size: 12px auto;
    padding: 15px 15px;
    border: 1px solid #2D2D2D;
    border-radius: 12px;
    font-size: 16px;
    color: #777777;
    outline: none;
    width: 100%;

}

.message_history_input_search_container {

    width: 70%;

}

.message_history_dialog {

    height: 75%;

}

.message_history_dialog_field {

    height: 100%;
    width: 100%;
    padding: 0px 20px 0px 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    color: #D9D9D9;

}

.message_history_field {
    height: 100%;
    width: 100%;
    overflow-y: scroll;

}

.message_history_dialog_field_left_rama {

    width: 100%;

    background-color: #222222;
    border: 1px solid;
    border-color: #222222;
    border-radius: 12px;

    padding: 10px;

    display: flex;
    justify-content: flex-start;

    margin-top: 10px;
    margin-bottom: 20px;
    color: #AAAAAA;
}

.message_history_dialog_field_right_rama {

    width: 100%;

    background-color: #222222;
    border: 1px solid;
    border-color: #222222;
    border-radius: 12px;

    padding: 10px;

    display: flex;


    margin-top: 10px;
    margin-bottom: 20px;
    color: #AAAAAA;
}

.dialog_img_ava {

    width: 35px;
    height: 35px;
    overflow: hidden;
    border-radius: 50%;


}

.message_history_dialog_field_right {
    width: 100%;
    display: flex;
    justify-content: flex-end;

}

.message_history_dialog_field_left {

    width: 100%;
    display: flex;
    justify-content: flex-start;

}

.message_history_dialog_field_left_content {

    word-break: break-all;
    max-width: 100%;
    height: auto;
    text-align: start;

}

.message_history_dialog_field_right_content {

    word-break: break-all;
    max-width: 100%;
    height: auto;
    text-align: start;

}

.message_history_dialog_field_width{

    max-width:40%;
    min-width: 10%;

}

.message_dialog_author_info{

    display: flex;
    align-items: center;
    margin-bottom: 2%;

}

.message_dialog_last{

    width: 100%;
    word-break: break-all;
    overflow: hidden;

}
.message_dialog_last p {

    line-height: 1.2em; 
    max-height: 2.4em; 
    overflow: hidden; 
    text-overflow: ellipsis; 
    word-wrap: break-word; 
}


/* NOTIFICATIONS */

.notification_block {

    pointer-events: none;
    background-color: #1a1a1a;
    border-left: 0px solid #2D2D2D;
    padding: 0px;
    height: 100vh;
    width: 0;
    overflow: hidden;
    transition: width 0.3s ease-in-out, border-left 0.2s ease-in-out;
}

.notification_block.show {

    border-left: 1px solid #2D2D2D;
    background-color: #1a1a1a;
    pointer-events: auto;
    position: relative;
    width: 30%;

}

.notification_container{

    margin: 2% auto;
    width: 90%;
    height: auto;
    padding: 2%;
    background-color: #1A1A1A;
    border: 1px solid #222222;
    border-radius: 12px;
    display: block;
    
}

.notification_image{

    width: 10%;

}

.notification_content{

    width: 90%;

}

.notication_top{

    display: flex;

}

.notification_actions{

    display: flex;
    justify-content: space-around;

}


/* SEARCH */

.search_block {

    pointer-events: none;

    background-color: #1a1a1a;
    border-right: 0px solid #2D2D2D;
    padding: 0px;
    height: 100vh;
    width: 0;
    overflow: hidden;
    transition: width 0.3s ease-in-out, border-right 0.2s ease-in-out;
}

.search_block.show {

    border-right: 1px solid #2D2D2D;
    background-color: #1a1a1a;
    pointer-events: auto;
    position: relative;
    width: 30%;

}
