

/* LongVideos */



.longvideos_field {

    width: 98%;
    margin: 0 auto;
    height: 100vh;
    max-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.longvideos_thumbnail {
    position: relative;
    width: 100%;
    height: 75%;
    margin: 0 auto;
    margin-top: 0.5%;
    /* max-width: calc(16 / 9 * 100vh); */


}

.blurred_bottom {
    width: 100%;
    height: 100%;
    position: absolute;
    background: linear-gradient(180deg, rgba(139, 167, 32, 0) 0%, #1A1A1A 100%);
    z-index: 2;
}

.longvideos_selections {

    width: 100%;
    height: 35vh;
    margin-top: -10%;
    z-index: 3;
}

.longvideos_categories {

    position: relative;
    height: 10%;

}

.longvideos_scroll_sorting_block {

    /* height: 50%; */
    width: 100%;
    position: relative;
    scroll-snap-align: start;
    scroll-snap-stop: normal;


}

.longvideos_scroll_sorting_block_name {

    width: 100%;
    padding: 0 1%;
    display: flex;
    align-items: center;

}

.longvideos_scroll_sorting_block_wrap_line {
    height: 2px;
    width: 100%;
    background-color: #2D2D2D;
    border-radius: 12px;
}


.longvideos_scroll_lock {

    height: 90%;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;

}


.custom-select-video {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    position: absolute;
    top: 0;
    right: 0;
    background-color: #1A1A1D;
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="12" height="8" viewBox="0 0 12 8"><path fill="%23000" d="M6 8L0 0h12z"/></svg>');
    background-repeat: no-repeat;
    background-position: right 10px top 50%;
    background-size: 12px auto;
    z-index: 2;
    padding: 8px 15px;
    border: 1px solid #950740;
    border-radius: 5px;
    font-size: 16px;
    color: #D9D9D9;
    outline: none;
    width: 20%;

}

.custom-select-video:hover {
    border-color: #aaa;
}


.custom-select-video:focus {
    border-color: #555;
}


.custom-select-video option {
    background-color: #fff;
    color: #333;
}


.longvideos_scroll_sorting_block_videos {


    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 1% auto;
    /* height: 90%; */


}


.main_novost_allvideo {

    height: auto;
    width: 90%;
    /* background-color: rgba(19, 19, 19, 1); */
    /* border: 1px solid; */
    /* border-color: #950740; */
    border-radius: 12px;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
    justify-content: space-between;
    color: #D9D9D9;

    transition: margin-bottom 0.3s, border 0.4s, box-shadow 0.4s ease-in-out;


}

.main_novost_allvideo:hover {


    border: 1px solid #777777;
    box-shadow: 0px 3px 5px #777777;
    margin-bottom: 2%;
    /* width: 100%; */
}


.longvideos_video_thumbnail {

    position: relative;

}

.longvideos_video_thumbnail_title {

    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    background: linear-gradient(180deg, transparent, #000000 100%);
    border-radius: 12px;
}

.longvideos_thumbnail_title {
    font-size: xx-large;
    display: block;
    text-overflow: ellipsis;
    word-wrap: break-word;
    overflow: hidden;
    max-height: 3.6em;
    line-height: 1.8em;

}

.longvideos_thumbnail_top {

    /* padding: 1%; */

    background-color: rgba(28, 28, 28, 0.5);
    /* #1c1c1c */
    border-radius: 12px;
    border: 0px solid #777777;
    opacity: 0;
    transition: opacity 0.4s 0.4s ease-in-out;


}

.longvideos_thumbnail_description {

    margin-top: 1%;
    padding: 1%;
    background-color: rgba(28, 28, 28, 0.5);
    /* #1c1c1c */
    border-radius: 12px;
    border: 1px solid #777777;

}

.longvideos_thumbnail_info {

    position: absolute;
    max-width: 35%;
    min-width: 15%;
    min-height: 25%;
    bottom: 20%;
    left: 2%;
    z-index: 3;
    opacity: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.longvideos_thumbnail_dopinfo {

    display: flex;
    align-items: center;

}

.longvideos_scroll_sorting_block_videos_fixed {

    width: 17%;
    height: auto;
    aspect-ratio: 16/9;
    display: flex;
    justify-content: center;
    flex-direction: column;

}

.longvideos_thumbnail_dopinfo_formain {

    display: none;

}




.videoThumbnail_main {
    transition: opacity 0.4s ease-in-out;

}

.longvideos_thumbnail_title {
    transition: opacity 0.4s ease-in-out;
}

.longvideos_thumbnail_avatar {
    transition: opacity 0.4s ease-in-out;
}

.longvideos_thumbnail_name {
    transition: opacity 0.4s ease-in-out;
}

.longvideos_thumbnail_created_at {
    transition: opacity 0.4s ease-in-out;
}

.longvideos_thumbnail_description_text {
    transition: opacity 0.4s ease-in-out;
}

.longvideos_thumbnail_info {

    transition: opacity 0.4s, height 0.4s ease-in-out;

}

.videoThumbnail_main.hide {
    opacity: 0;
}

.longvideos_thumbnail_title.hide {
    opacity: 0;
}

.longvideos_thumbnail_avatar.hide {
    opacity: 0;
}

.longvideos_thumbnail_created_at.hide {
    opacity: 0;
}

.longvideos_thumbnail_name.hide {
    opacity: 0;
}

.longvideos_thumbnail_description_text.hide {
    opacity: 0;
}

.longvideos_thumbnail_info.hide {

    opacity: 0;

}

.longvideos_thumbnail_info.show {

    opacity: 1;

}

.longvideos_thumbnail_top.hide {

    opacity: 0;

}

.longvideos_thumbnail_top.show {

    opacity: 1;
    border: 1px solid #777777;

}


.category {

    position: absolute;
    width: 25%;
    height: 100%;
    right: 0;
    display: flex;
    z-index: 3;
    justify-content: flex-end;

}

.longvideos_categories_btn {

    /* width: 20%; */
    padding: 0 7px;
    background-color: #1A1A1D;
    border: 1px solid #777777;
    border-radius: 12px;
    /* height: auto; */
    margin: 0 1%;
    white-space: nowrap;
    align-items: center;

}

.longvideos_categories_btn.select,
.longvideos_categories_btn:hover {
    background-color: #1c1c1c;
}


/* Main Video */



.main_video_content_scroll_lock {

    max-width: 98%;
    max-height: 98.5%;
    /* max-height: 100vh; */
    /* height: 98.5%; */
    aspect-ratio: 16 / 9;
    margin: 0.5% auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;


}

.main_video_content_field {

    width: 100%;
    height: 100%;
    overflow-y: auto;
    max-height: 100vh;

}


.full_video_content_scrolled_info_description {


    background-color: #222222;
    padding: 1%;
    border-radius: 12px;
    width: 100%;

}

.full_video_content_scrolled_trendvideo {

    width: 30%;
    height: 100%;

}

.full_video_btn {


    aspect-ratio: 1;
    background-color: #222222;
    align-items: center;
    margin: 2%;
    padding: 2%;
    display: flex;
    justify-content: center;
    margin-inline: 20px;
    border-radius: 12px;
    border: 2px solid #777777;

}


.full_video_block_buttons {

    display: flex;
    justify-content: flex-end;

}

.full_video_comments_form_lock {

    height: 10%;
    width: 100%;
    min-height: 60px;

    padding: 1%;

    margin-right: auto;
    margin-left: auto;

    display: flex;
    align-items: center;
    justify-content: space-between;


    color: #D9D9D9;

}

.submit_comment_fullvideo {

    width: 10%;

}


.full_video_btn_send {

    min-height: 40px;
    height: 50%;
    aspect-ratio: 1;
    background-color: #222222;
    align-items: center;
    /* margin: 2%; */
    /* padding: 2%; */
    display: flex;
    justify-content: center;
    border-radius: 12px;
    border: 2px solid #777777;

}

.full_video_img {

    display: flex;
    justify-content: center;
    text-align: center;
    overflow: hidden;

}

.form_field_full_video {

    font-family: inherit;
    height: 42px;
    width: 85%;
    border: 0;
    border-bottom: 2px solid #777777;
    outline: 0;
    font-size: 1.3rem;
    color: white;
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;
    margin: 0 auto;
    display: flex;
    align-items: center;

}
